<div class="account-teams display-none">
  <div class="detail-menu">
    <span class="teams-hide cursor-pointer">My Account</span><span> > </span><span class="cursor-pointer">Account Team</span>
    <p>account team</p>
  </div>
  <div class="account-rep-row-out">
    <div class="account-rep-col">
      <div class="account-rep-row">
        <div class="account-rep-col rep-space mr-50">
        </div>
        <div class="account-rep-col">
          <h3 class="account-rep-header">Your Account Rep:</h3>
          <p>Charash Singl</p>
          <p>(905) 123-4567</p>
          <p>charush@c6.ca</p>
        </div>
      </div>
    </div>
    <div class="account-rep-col">
      <div class="account-rep-row">
        <div class="account-rep-col rep-space mr-50">
        </div>
        <div class="account-rep-col">
          <h3 class="account-rep-header">Your Account Rep:</h3>
          <p>Charash Singl</p>
          <p>(905) 123-4567</p>
          <p>charush@c6.ca</p>
        </div>
      </div>
    </div>
  </div>
  <div class="account-help">
    <div class="help-content">
      <div class="help-message">
        <img src="{{ 'message-icon.png' | asset_url }}" alt="Message" />
      </div>
      <div class="help-type">
        <h3>WE CAN HELP YOU WITH</h3>
        <p>• Large volume quotes</p>
        <p>• Product advice and recommendations</p>
      </div>
    </div>
  </div>
</div>