<section class="shopify-section section--faq">
  <details> 
    <summary> 
      <span class="headline u-h3">{{ block.settings.headline }}</span> 
      <svg class="icon-chevron-down-small " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 8 6" fill="none">          <title>Chevron down icon</title>        <path class="icon-chevron-down-left" d="M4 4.5L7 1.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="square"></path>      <path class="icon-chevron-down-right" d="M4 4.5L1 1.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="square"></path>    </svg>
    </summary> 
    <div class="indent-content"> 
      {{ block.settings.content }}
    </div> 
  </details>
</section>